@media screen and (min-width: 1600px){
    .gallery-container{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15%;
        font-family: "Open Sans Light", sans-serif;
        flex-direction: column;
        background-color: #222222;
        color: white;
        padding: 2.5% 0;
    }
    .gallery-header{
        font-family: 'Playfair Display', serif;
        margin-bottom: 2.5%;
        margin-top: 5%;
    }
    .gallery-link{
        margin-top: 2.5%;
        padding: 1.5% 2.5%;
        background-color: #222222;
        text-decoration: none;
        color: white;
        font-family: 'Playfair Display', serif;
        position: relative;
    }
    .gallery-link span{
        transition: all 0.4s ease;
        background-color: blanchedalmond;
    }
    .f-l-one{
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 2px;
    }
    .f-l-two{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
    }
    .f-l-three{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 0;
    }
    .f-l-four{
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 0;
    }
    .gallery-link:hover .f-l-four{
        height: 100%;
    }
    .gallery-link:hover .f-l-three{
        height: 100%;
    }
    .gallery-link:hover .f-l-one{
        width: 100%;
    }
    .gallery-link:hover .f-l-two{
        width: 100%;
    }
    .gallery {
        position: relative;
        width: 60%;
        height: 100%;
    }
    .mySlides {
        display: none;
        width: 100%;
        height: 100%;
    }
    .mySlides img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cursor {
        cursor: pointer;
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 60%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        float: left;
        width: 16.66%;
        height: 10vh;
    }
    .column img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1599.9px){
    .gallery-container{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans Light", sans-serif;
        flex-direction: column;
        background-color: #222222;
        color: white;
        padding: 2.5% 0 ;
    }
    .gallery-header{
        font-family: 'Playfair Display', serif;
        margin-bottom: 2.5%;
        margin-top: 5%;
    }
    .gallery-link{
        margin-top: 2.5%;
        padding: 1.5% 2.5%;
        background-color: #222222;
        text-decoration: none;
        color: white;
        font-family: 'Playfair Display', serif;
        position: relative;
    }
    .gallery-link span{
        transition: all 0.4s ease;
        background-color: blanchedalmond;
    }
    .f-l-one{
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 2px;
    }
    .f-l-two{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
    }
    .f-l-three{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 0;
    }
    .f-l-four{
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 0;
    }
    .gallery-link:hover .f-l-four{
        height: 100%;
    }
    .gallery-link:hover .f-l-three{
        height: 100%;
    }
    .gallery-link:hover .f-l-one{
        width: 100%;
    }
    .gallery-link:hover .f-l-two{
        width: 100%;
    }
    .gallery {
        position: relative;
        width: 60%;
        height: 100%;
    }
    .mySlides {
        display: none;
        width: 100%;
        height: 100%;
    }
    .mySlides img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cursor {
        cursor: pointer;
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 60%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        float: left;
        width: 16.66%;
        height: 10vh;
    }
    .column img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
}
@media screen and (max-width: 1365px) and (min-width: 375px){
    .gallery-container{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans Light", sans-serif;
        flex-direction: column;
        background-color: #222222;
        color: white;
        padding: 2.5% 0;
    }
    .gallery-header{
        font-family: 'Playfair Display', serif;
        margin-bottom: 2.5%;
        margin-top: 5%;
    }
    .gallery-link{
        margin: 10% 0;
        padding: 1.5% 2.5%;
        background-color: #222222;
        text-decoration: none;
        color: white;
        font-family: 'Playfair Display', serif;
        position: relative;
        border: 2px blanchedalmond solid;
    }
    .gallery-link span{
        transition: all 0.4s ease;
        background-color: blanchedalmond;
        display: none;
    }
    .gallery {
        position: relative;
        width: 90%;
        height: 100%;
    }
    .mySlides {
        display: none;
        width: 100%;
        height: 100%;
    }
    .mySlides img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cursor {
        cursor: pointer;
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        float: left;
        width: 16.66%;
        height: 5vh;
    }
    .column img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
}